
<div class="mainFooter">

<div class="main4 logo" >
  <img  class="child1" style="left:-50px;" src="https://cdn.discordapp.com/attachments/626990130007375875/1018942379174154280/unknown.png">

  <p class="text child1">we at trinity is responsible for providing high quality and the most efficient medical services</p>

  <div class="contact child1">
    <p>🌍  123 Crescent Avenue</p>
    <p>  ☏  123-456-678</p>
    <p>   ✉  trinity@gmail.com</p>

  </div>
</div>


<div class="main4 links">
  <h3>Our Links</h3>

  <div class="subLinks">
    <div class="subSubLinks1 subSubLinks">
    <ul>
      <li>Sevices</li>
      <li>About us</li>
      <li>Plumbers</li>
    </ul>
    </div>
    <div class="subSubLinks2 subSubLinks">
      <ul>
        <li>Gallery</li>
        <li>Supplies</li>
        <li>Contact Us</li>
      </ul>
    </div>

  </div>
</div>
<div class="main4 news" >
  <h3>Recent News</h3>
  <div>
    <p> Major Pipe Fixed at NCB</p>
    <P class="spacer timer"> ⌚ 12 August 2022</P>
  </div>
  <div>
    <p> More workers hired for a major project</p>
    <p class="spacer timer"> ⌚ 12 September 2022</p>
  </div>
  <div>

  </div>
</div>
<div class="main4 letter">
  <h3>News Letter</h3>

  <div>
    <p> Join our newsletter to receive updates</p>
    <form>
      <p class="spacer timer">  <input type="email"> </p>
      <button> Subscribe</button>
    </form>
  </div>
</div>

</div>
<div class="copyRight">
  <p>CopyRight 2022</p>

</div>
