# Basic application settings
NAME=trinity-plumbing-api
PORT=8080
FRONTEND_URL=http://localhost:4200
SECRET_JWT_TOKEN=dwa87r6eafud132!!8y@r27hd$uq71y73%y271832h3u&3u23462h2nnn&3db2b6$326hdw21wd&

# The production state of the app is used to show errors if the app is not in production mode
# Database connection
MONGODB_URI=mongodb://localhost:27017/trinityPlumbing
MONGODB_URI_PROD=mongodb://localhost:27017/trinityPlumbing
FRONTEND_URL_PROD=http://localhost:4200 # Production frontend url